config:
  boot.autostart: "{{ item.value.autostart | default(true) }}"
  boot.autostart.delay: "{{ item.value.delay | default('8') }}"
  limits.cpu:  "{{ item.value.cpu | default('1') }}"
  limits.memory: "{{ item.value.mem | default('512MiB') }}"
  security.privileged: "{{ item.value.privileged | default(false) }}"
  security.nesting: "{{ item.value.nesting | default(false) }}"
description: "{{ item.value.description }}"
devices:
  eth0:
    hwaddr: "{{ item.value.mac }}"
    ipv4.address: "{{ item.value.ip }}"
    name: eth0
    network: {{ lxd_net_name | default('lxdbr0') }}
    type: nic
  root:
    path: /
    pool: default
    type: disk
{% for mount in item.value.mount %}
  {{ mount.name }}:
    path: {{ mount.path }}
    source: {{ mount_path }}/{{ item.value.name }}{{ mount.source }}
    type: disk
{% endfor %}
name: {{ item.value.profile }}
used_by: []
