config:
  boot.autostart: "{{ item.autostart | default(true) }}"
  boot.autostart.delay: "{{ item.delay | default('8') }}"
  limits.cpu:  "{{ item.cpu | default('1') }}"
  limits.memory: "{{ item.mem | default('512MiB') }}"
  security.privileged: "{{ item.privileged | default(false) }}"
  security.nesting: "{{ item.nesting | default(false) }}"
description: "{{ item.description }}"
devices:
  eth0:
    hwaddr: "{{ item.mac }}"
    ipv4.address: "{{ item.ip }}"
    name: eth0
    network: "{{ lxd_net_name | default('lxdbr0') }}"
    type: nic
  root:
    path: /
    pool: default
    type: disk
  root_ssh:
    path: /root/.ssh
    source: "{{ mount_path }}"/{{ item.name }}/root/.ssh
    type: disk
name: "{{ item.profile }}"
used_by: []